* {
	box-sizing: 0;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	background-color: #333;
}

/* Kombinatory - dzialaja kaskadowo, w dol*/

/* > Target na bezposrednie dzieci */
div > p {
	color: black;
}

/* + Target na  pierwszego bezposredni brat */
div + p {
	color: black;
}

/* ~ Target na kazdego brata nie wazne co jest miedzy nimi */
div ~ p {
	color: black;
}

/* Hierarchia Stylow  */

/* Najwazniejszy jest atrybut style="" potem ID, potem klasa a na koncu selektor */
