* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	font-size: 36px;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	background-color: #333;
	color: floralwhite;
	overflow: hidden;
}


img {
	width: 500px;
	height: 500px;
	border-radius: 50%;
	opacity: 50%;
}
