* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	background-color: #333;
}

.general {
	border: solid black 2px;
	position: absolute;
	text-align: center;
	line-height: 60px;
}

.long {
	background-color: tomato;
	top: 50px;
	left: calc(50% - 400px);
	width: 800px;
	height: 60px;
	transition: 1s;
}

.long:hover {
	background-color: green;
	scale: 2;
	width: 400px;
	left: calc(50% - 200px);
}

.short {
	background-color: royalblue;
	top: 180px;
	left: calc(50% - 150px);
	width: 300px;
	height: 60px;
	border-radius: 25px;
	transition: 1s linear;
}

.short:hover {
	rotate: 360deg;
}

.short2 {
	background-color: yellow;
	top: 300px;
	width: 300px;
	height: 60px;
	border-radius: 10px;
	left: calc(30% - 150px);
	transition: 1s 1s ease-out;
}

.short:hover ~ .short2 {
	rotate: 360deg;
}

.short3 {
	background-color: greenyellow;
	top: 300px;
	width: 300px;
	height: 60px;
	border-radius: 10px;
	left: calc(70% - 150px);
	transition: 1s 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.short:hover ~ .short3 {
	rotate: -360deg;
}

.empty {
	background-color: none;
	top: 60%;
	left: 50%;
	height: 200px;
	width: 400px;
	transform: translate(-50%, -50%);
	transition: 1s;
	line-height: 200px;
}

.empty:hover{
	background-color: white;
	}